# Using the bank data (bank – full): 

- 1 Create a predicting model to predict y (term deposit subscription) using age and marital status.
- 2 Apply SMOTE and re-build the model. Comment on the Recall and accuracy of the model
- 3 Using your model which was build after applying SMOTE, predict if below customers will subscribe for term deposit:

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score 
from sklearn.metrics import confusion_matrix, recall_score

In [3]:
bank = pd.read_csv("F:\Skillenable\Data frames\Bank-full.csv")
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [14]:
# creating new database using required columns
df = bank[['age', 'marital', 'y']]
df.head()

   age  marital   y
0   58  married  no
1   44   single  no
2   33  married  no
3   47  married  no
4   33   single  no

In [16]:
# Create a dummy variable for text info column

df = pd.get_dummies(df, columns=["marital"])
df.head()

KeyError: "None of [Index(['marital'], dtype='object')] are in the [columns]"

In [17]:
# Create a dummy variable
df = pd.get_dummies(df, columns=["y"])
df.head()

   age  marital_divorced  marital_married  marital_single  y_no  y_yes
0   58                 0                1               0     1      0
1   44                 0                0               1     1      0
2   33                 0                1               0     1      0
3   47                 0                1               0     1      0
4   33                 0                0               1     1      0

In [18]:
df_final = df.drop(columns='y_no')
df_final.head()

   age  marital_divorced  marital_married  marital_single  y_yes
0   58                 0                1               0      0
1   44                 0                0               1      0
2   33                 0                1               0      0
3   47                 0                1               0      0
4   33                 0                0               1      0

In [19]:
# Define X and Y 

Y = df_final[['y_yes']]
X = df_final.drop(columns='y_yes')


X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size = 0.85, random_state =  1)
len(X_train), len(X_test), len(Y_train), len(Y_test)

(38429, 6782, 38429, 6782)

In [20]:
# build model on training data

LR = LogisticRegression()

## Fit the model object on training data for building the model

model_lr = LR.fit(X_train, Y_train)
model_lr

C:\Users\arun\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [21]:
# predicted value 

Y_test['Pred_y'] = model_lr.predict(X_test)

In [22]:
Y_test

       y_yes  Pred_y
3610       0       0
11677      0       0
33018      0       0
44323      1       0
8119       0       0
...      ...     ...
3003       0       0
19981      0       0
28962      0       0
5874       0       0
41891      0       0

[6782 rows x 2 columns]

In [23]:
# creating a confusion matrix to check our model accuracy, by using our survived column and pred_survided coulumn
 
pd.crosstab(index = Y_test['y_yes'], columns = Y_test['Pred_y'], margins = True)

Pred_y     0   All
y_yes
0       5980  5980
1        802   802
All     6782  6782

In [26]:
# Create a confusion matrics and Evaluate the accuracy of model.. by using inbuild function

confusion_matrix(Y_test['y_yes'], Y_test['Pred_y'])

array([[5980,    0],
       [ 802,    0]], dtype=int64)

In [27]:
# Accuracy
accuracy = accuracy_score(Y_test['y_yes'], Y_test['Pred_y'])
accuracy

0.8817457976997936

In [28]:
recall =recall_score(Y_test['y_yes'], Y_test['Pred_y'])
recall

0.0

In [33]:
Y.value_counts()

y_yes
0        39922
1         5289
dtype: int64

In [52]:
from imblearn.over_sampling import SMOTE

In [49]:
smote = SMOTE(sampling_strategy='minority')

In [51]:
x_ms,y_sm = smote.fit_resampling(X,Y)

AttributeError: 'SMOTE' object has no attribute 'fit_resampling'