## Agenda
* concept of Feature Scalling 
* How to use feature scalling to reduce the model errors
* Multicollinearity & Implimentation of multicollinearity in Python 
* Case study to apply these concept

### Scaling in data: 
           # When we have a model which is build on multiple input variable, the scale of the variable may differ. some of the input variable may have high scale values where as some input variables may low scale values. 
           # The concept of scaling means removing the measurement scale from the input variable using various method.
           # After scaling the data, the variable are unit-less. There are two methods of scaling:
           
#1) MinMax scaling: 
    * We take each data point of each column and then substract it from the min value of that column. The output is then divided by the difference between the minimun and the maximun value of that column. Thus after prforming this scaling method, all the values of the column will be between 0 and 1
   * The formula for this 
        (x-min(y))/(max(y)-min(y)    where x is data poing of the column and y is min or max value of the column.
        
#2) Standard scaling (z score scaling):
    * Here we take each data point from a column and minus it from the column. The outpur is then divided by the std. divation of the column. Thus after performing this scaling the output can have the values anywhere between -infinity to +infinity. However the std diviation of the resultant sata eill be always 1 and avarage od resultant data will always be 0. 
   * x - avg(y)/std(y)      ; where x is the specific data point of hte column and y is the avarege of SD of that column.
    
    
#### NOTE: Please do not assume that standard sccaling will bring your data into normal disctribution. This scaling method does not impact the skewness of your data.

## ps : Let's see the impact on the model: Using admission predict data, build multiple linear regression model with scaling. Find R-sq, RMSE of the model.

    Then we will perform the scaling of the data and re-build another model. Again we will find the R-sq, RMSE value for the new model. Then we will compare these values.
    
    # target column = chances of getting admission

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('F:\Skillenable\Data frames\Admission_Predict.csv')
df.head()
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [3]:
df_new = df.drop(columns=['Serial No.'])
df_new.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
# split test and train data

Y = df_new[['Chance of Admit ']]
X = df_new.drop(columns='Chance of Admit ')

In [5]:
# spliting data into training and test

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size = 0.8, random_state = 1)

len(X_train), len(X_test), len(Y_train), len(Y_test) 

# bulding model
lm = LinearRegression()

# fit data in model
model = lm.fit(X_train, Y_train)

#Fiding R sq value
r_sq = model.score(X_train, Y_train)
print('The R_sq value of original model: ', round(r_sq, 7))

The R_sq value of original model:  0.8008778

In [6]:
# calculate RMSE value for original model
Y_test['Pred_Admit'] = model.predict(X_test)

# find the square error
Y_test['SqError'] = (Y_test['Chance of Admit ']- Y_test['Pred_Admit']) ** 2

# find mean of squared error
mean_error = Y_test['SqError'].mean()

# Find square root of mean_error
import math

RMSE_original = math.sqrt(mean_error)
print('THe RMSE of original model: ', RMSE_original)

THe RMSE of original model:  0.06665342999422268

C:\Users\arun\AppData\Local\Temp/ipykernel_16132/2080778270.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_test['Pred_Admit'] = model.predict(X_test)
C:\Users\arun\AppData\Local\Temp/ipykernel_16132/2080778270.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_test['SqError'] = (Y_test['Chance of Admit ']- Y_test['Pred_Admit']) ** 2

In [7]:
# import scaler functio

from sklearn.preprocessing import StandardScaler, MinMaxScaler

# STEP 1: Create the blank scaling object
sc = StandardScaler()

# STEP 2: Apply this object on input variable data frame (X)

sc.fit(X)

# Transform the data using transform function
X_new = sc.transform(X)

In [8]:
X_new

array([[ 1.76210664,  1.74697064,  0.79882862, ...,  1.16732114,
         1.76481828,  0.90911166],
       [ 0.62765641, -0.06763531,  0.79882862, ...,  1.16732114,
         0.45515126,  0.90911166],
       [-0.07046681, -0.56252785, -0.07660001, ...,  0.05293342,
        -1.00563118,  0.90911166],
       ...,
       [ 1.15124883,  1.41704229,  0.79882862, ...,  1.16732114,
         1.42900622,  0.90911166],
       [-0.41952842, -0.72749202, -0.07660001, ...,  0.61012728,
         0.30403584, -1.09997489],
       [ 1.41304503,  1.58200646,  0.79882862, ...,  0.61012728,
         1.78160888,  0.90911166]])

In [9]:
type(X_new)

numpy.ndarray

In [10]:
type(Y)

pandas.core.frame.DataFrame

In [11]:
# as the output of scaling transformation in a numpy array and the target variable Y is a data frame we need 
# to either convert the transformed input variable onto a data frame or the target variable into a array 

# Let's convet the X_new into pandas data frame 

X_new_df = pd.DataFrame(X_new, columns=X.columns)
X_new_df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1.762107,1.746971,0.798829,1.093864,1.167321,1.764818,0.909112
1,0.627656,-0.067635,0.798829,0.596653,1.167321,0.455151,0.909112
2,-0.070467,-0.562528,-0.076600,-0.397769,0.052933,-1.005631,0.909112
3,0.453126,0.427257,-0.076600,0.099442,-1.061454,0.119339,0.909112
4,-0.244998,-0.727492,-0.952029,-1.392191,-0.504260,-0.653029,-1.099975
...,...,...,...,...,...,...,...
395,0.627656,0.427257,-0.076600,0.099442,0.052933,0.740592,0.909112
396,0.714922,-0.067635,-0.076600,-0.397769,0.052933,0.858126,0.909112
397,1.151249,1.417042,0.798829,1.591075,1.167321,1.429006,0.909112
398,-0.419528,-0.727492,-0.076600,0.099442,0.610127,0.304036,-1.099975
399,1.413045,1.582006,0.798829,1.591075,0.610127,1.781609,0.909112

In [12]:
# Let's split data into training and test and create a new regrassion model

X_train1, X_test1, Y_train1, Y_test1 = train_test_split(X_new_df,Y, train_size = 0.8, random_state = 1234)

# bulding model
lm1 = LinearRegression()

# fit data in model
model1 = lm1.fit(X_train1, Y_train1)

#Fiding R sq value
r_sq1 = model1.score(X_train1, Y_train1)
print('The R_sq value of scaled model: ', round(r_sq1, 7))

The R_sq value of scaled model:  0.8121107

In [13]:
# calculate RMSE value for scaled model
Y_test1['Pred_Admit_scaled'] = model1.predict(X_test1)

# find the square error
Y_test1['SqError1'] = (Y_test1['Chance of Admit ']- Y_test1['Pred_Admit_scaled']) ** 2

# find mean of squared error
mean_error1 = Y_test1['SqError1'].mean()

# Find square root of mean_error
import math

RMSE_scaled = math.sqrt(mean_error1)
print('THe RMSE of scaled model: ', RMSE_scaled)

THe RMSE of scaled model:  0.06935847086578059

C:\Users\arun\AppData\Local\Temp/ipykernel_16132/744854545.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_test1['Pred_Admit_scaled'] = model1.predict(X_test1)
C:\Users\arun\AppData\Local\Temp/ipykernel_16132/744854545.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_test1['SqError1'] = (Y_test1['Chance of Admit ']- Y_test1['Pred_Admit_scaled']) ** 2

In [14]:
# Let's print  RMSE
print('THe RMSE of original model: ', RMSE_original)
print('THe RMSE of scaled model: ', RMSE_scaled)

# The output is not as per my expected way, Technically the RMSC_scaled model must be less than RMSE_original model

THe RMSE of original model:  0.06665342999422268
THe RMSE of scaled model:  0.06935847086578059

## Multicolinearity
#### When we have multiple input variables, we need to check if there is high correlation betwee the input variable. Any input variable which have a high correlation can be used in the model together. We need to drop one of them as the input variable from our model.
#### As the correlation coefficient value can not be defined as as how hogh it has to be to classify as a high multicollinearity, thus we need to find varience inflation factor (VIF) for each input variable.


## VIF
* Use to find out the corelation amongh input variable

* If VIF is 
            * 1      => the input variables are not correlated/ completely independend of input variable
            
            * 1 to 5 => independent variables are moderately correlated. We can still use in the model.
            
           *  >5     => independent variables are highly correlated. We canot use those variable together in the model .

## Find VIF for each variable for above X data frame.

In [15]:
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [18]:
# import a function
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [20]:
# creating Used defined function to calculate VIF

def VIF_calc(a):
    # calculate VIF and I'll display it as the data frame
    vif_df = pd.DataFrame()  # blank data frame
    vif_df['Variable_Name'] = a.columns
    vif_df['VIF_value'] = [variance_inflation_factor(a.values, i) for i in range(a.shape[1])]
    return (vif_df)

In [22]:
# Let's caluculate VIF
VIF_calc(X)

       Variable_Name    VIF_value
0          GRE Score  1438.451789
1        TOEFL Score  1349.746948
2  University Rating    22.143705
3                SOP    38.050177
4               LOR     38.411722
5               CGPA  1080.491179
6           Research     2.859938