In [19]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('F:\Skillenable\Data frames\Social_Network_Ads.csv')
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
data.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
Y = data[['Purchased']]
X = data[['Age', 'EstimatedSalary']]

In [6]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [7]:
Y

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, random_state =42)

In [11]:
len(x_train), len(x_test), len(y_train), len(y_test)

(320, 80, 320, 80)

In [13]:
# build model (Base line model)

from sklearn.linear_model import LogisticRegression

In [15]:
lr = LogisticRegression()

In [20]:
model = lr.fit(x_train, y_train)

In [21]:
y_test['Pred'] = model.predict(x_test)

In [22]:
y_test

     Purchased  Pred
209          0     0
280          1     0
33           0     0
210          1     0
93           0     0
..         ...   ...
246          0     0
227          1     0
369          1     0
176          0     0
289          1     0

[80 rows x 2 columns]

In [24]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [25]:
print(accuracy_score(y_test['Purchased'], y_test['Pred']))

0.65

In [26]:
print(confusion_matrix(y_test['Purchased'], y_test['Pred']))

[[52  0]
 [28  0]]

In [27]:
# MOdel is not working fine, here no recall no prescesion

In [28]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [29]:
params = [
    {
        'penalty': ['l1', 'l2', 'elastcnet', 'none'],
        'C': [0.1, 1.0, 5.0, 10.0],     # alpha value
        'max_iter':[100, 500, 1000, 2500, 5000],
        'solver': ['newton-cg', 'lbfg', 'liblinear', 'sag', 'saga']
        
    }
]

In [33]:
best_model = RandomizedSearchCV(n_iter= 10, estimator = lr, param_distributions = params, cv=2, scoring = 'accuracy')

In [34]:
log_rcv = best_model.fit(x_train, y_train)

In [36]:
 log_rcv.best_params_

{'solver': 'newton-cg', 'penalty': 'none', 'max_iter': 5000, 'C': 5.0}

In [39]:
# predict for test daa

y_test['Pred_rcv'] = log_rcv.predict(x_test)

In [40]:
print(accuracy_score(y_test['Purchased'], y_test['Pred_rcv']))

0.8875

In [41]:
print(confusion_matrix(y_test['Purchased'], y_test['Pred_rcv']))

[[50  2]
 [ 7 21]]